body {
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    display: flex;
    align-items: center;
}

a {
    font-family: inherit;
    background-color: darkred;
    color: whitesmoke;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
    text-decoration: none;
}

img {
    border-radius: 1rem;
    height: auto;
    width: 60%;
}

h2 {
    color: darkred;
}

p {
    font-size: 1.5rem;
}