body {
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: auto;
    width: 80%;
    border-radius: 1rem;
}

ul {
    list-style:none;
    padding-left: 0;
    margin-left: 0.5rem;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}